<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-autowire="byName" default-lazy-init="false">

	<!-- 数据源定义,使用Apache DBCP 连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${lt.jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="${dataSource.initialSize}" />
		<property name="maxActive" value="${dataSource.maxActive}" />
		<property name="maxIdle" value="${dataSource.maxIdle}" />
		<property name="minIdle" value="${dataSource.minIdle}" />
		<property name="maxWait" value="${dataSource.maxWait}" />
		<property name="testWhileIdle" value="true" />
		<property name="validationQuery" value="select 1 " />
	</bean>

	<!--Hibernate SessionFatory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<bean
				class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<property name="locations">
					<list>
						<value>classpath:hibernate.properties</value>
						<value>classpath:memcached.properties</value>
					</list>
				</property>
			</bean>
		</property>
		<property name="mappingLocations" value="classpath:hibernate/*.hbm.xml" />
	</bean>
	
	<bean id="smtpEmailProperties" class="com.lt.util.SmtpInfo" >
		<property name="smtpName" value="${mail.smtp.ssl.trust}"/>
		<property name="smtpPort" value="${mail.smtp.port}"/>
		<property name="broadcastAccount" value="${mail.smtp.user}"/>
		<property name="broadcastPassword" value="${mail.smtp.password}"/>
		<property name="emailReceivers" value="${mail.receivers}"/>
		<property name="emailFailSubject" value="${mail.connected.fail.subject}"/>
		<property name="emailFailText" value="${mail.connected.fail.text}"/>
		<property name="emailSuccessfulSubject" value="${mail.reconnected.successful.subject}"/>
		<property name="emailSuccessfulText" value="${mail.reconnected.successful.text}"/>
	</bean>

	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<constructor-arg ref="sessionFactory" />
	</bean>

	<bean id="genericHibernateDao" class="org.framework.support.hibernate.GenericHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	
	<bean id="DrawDAO" class="com.lt.dao.DrawDAO" >
		<property name="genericHibernateDao" ref="genericHibernateDao" />		
	</bean>
	
	<bean id="LottoKenoGrabbingTask" class="com.lt.grabbing.LottoGrabbingTask" init-method="startGrabbing">
		<property name="smtpEmailProperties" ref="smtpEmailProperties" />
		<property name="socketHttpDestination" value="${lt.socketServer.http.destination}" />
		<property name="drawDAO" ref="DrawDAO" />			
	</bean>
	
	<bean id="LottoGrabbingJX" class="com.lt.grabbing.LottoGrabbingJX" >
		<property name="url" value="${jx.url}" />
		<property name="ISSUE_PERIOD" value="${issue.period}" />	
		
	</bean>
	
	<bean id="LottoGrabbingSH" class="com.lt.grabbing.LottoGrabbingSH" >
		<property name="url" value="${sh.url}" />
		<property name="ISSUE_PERIOD" value="${issue.period}" />	
		
	</bean>
	
	<bean id="LottoGrabbingSD" class="com.lt.grabbing.LottoGrabbingSD" >
		<property name="url" value="${sd.url}" />
		<property name="ISSUE_PERIOD" value="${sd.issue.period}" />	
		
	</bean>
	
	<bean id="LottoGrabbingGD" class="com.lt.grabbing.LottoGrabbingGD" >
		<property name="url" value="${gd.url}" />
		<property name="ISSUE_PERIOD" value="${issue.period}" />	
		
	</bean>
	
	<bean id="LottoGrabbingCQ" class="com.lt.grabbing.LottoGrabbingCQ" >
		<property name="url" value="${cq.url}" />
		
	</bean>

    <bean id="LottoGrabbingTJ" class="com.lt.grabbing.LottoGrabbingTJ" >
		<property name="url" value="${tj.url}" />
	</bean>
	
	 <bean id="LottoGrabbingXJ" class="com.lt.grabbing.LottoGrabbingXJ" >
		<property name="url" value="${xj.url}" />
	</bean>
	
	<bean id="LottoGrabbingBJ" class="com.lt.grabbing.LottoGrabbingBJ" >
		<property name="url" value="${bj.url}" />
	</bean>
	
	<bean id="LottoGrabbingAH" class="com.lt.grabbing.LottoGrabbingAH" >
		<property name="url" value="${ah.url}" />
		<property name="ISSUE_PERIOD" value="${issue.period}" />
		
	</bean>
	
	<bean id="LottoGrabbingJS" class="com.lt.grabbing.LottoGrabbingJS" >
		<property name="url" value="${js.url}" />
		<property name="ISSUE_PERIOD" value="${issue.period}" />
		
	</bean>
	
	<bean id="LottoGrabbingCheck" class="com.lt.grabbing.LottoGrabbingCheck" >
		
	</bean>

	<!-- TransactionManager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
		<property name="defaultTimeout" value="30" />  <!-- timeout 30 seconds -->
	</bean>

</beans>
